header {
    height: 20vh;
    gap: 10px
}

main {
    min-height: 70vh;
}

footer {
    height: 10vh;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 64px;
}